@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: content-box;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
  /* 1 */
    padding: 0;
  /* 2 */
    *height: 13px;
  /* 3 */
    *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
    -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-size: 100%;
  /* 1 */
    -webkit-text-size-adjust: 100%;
  /* 2 */
    -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
    border: 0;
  /* 1 */
    -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #ccc;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
    border: 0;
  /* 1 */
    padding: 0;
    white-space: normal;
  /* 2 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
    font-size: 100%;
  /* 1 */
    margin: 0;
  /* 2 */
    vertical-align: baseline;
  /* 3 */
    *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
    line-height: normal;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
  /* 2 */
    cursor: pointer;
  /* 3 */
    *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    overflow: auto;
  /* 1 */
    vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #000;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #ccc;
    text-shadow: none;
}

img {
    vertical-align: middle;
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

button,
input,
textarea {
    border: none;
    outline: none;
    background: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
    font-family: "Helvetica", sans-serif;
    font-size: 2rem;
    line-height: 1.1em;
    color: #3E4857;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow-x: hidden;
}

.container {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header,
footer {
    height: 72px;
    background-color: #c4c4c4;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 4rem;
}

h2 {
    font-family: "Arial", sans-serif;
    line-height: 1.15em;
    font-size: 5.3rem;
    font-weight: 700;
    color: #fff;
}

h3 {
    font-family: "Arial", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.5em;
}

summary, details {
    font-family: "Arial", sans-serif;
    list-style: none;
}

.btn {
    font-family: "Roboto", serif;
    font-size: 1.6rem;
    max-width: 213px;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 14.5px 0;
    text-transform: uppercase;
    color: #fff;
    background-color: #67AC5B;
}

.btn:hover, .btn:active {
    color: #3E4857;
}

.preview {
    background: linear-gradient(90deg, #040013 0%, #42063F 54.31%, #3A047D 99.9%);
    color: #fff;
    margin-bottom: 40px;
    padding-top: 100px;
}

.preview__title {
    max-width: 507px;
    width: 100%;
    margin-bottom: 15px;
}

.preview__text {
    font-size: 1.7rem;
    margin-bottom: 20px;
    line-height: 1.6em;
    max-width: 370px;
}

.preview__img {
    max-width: 837px;
    height: auto;
    -webkit-transform: translateX(-24%);
    transform: translateX(-24%);
}

.advantages__text {
    text-align: center;
    font-size: 2rem;
    line-height: 1.3em;
}

.advantages__text:first-of-type {
    margin-bottom: 40px;
}

.advantages__text:last-of-type {
    margin-bottom: 48px;
}

.advantages__title {
    margin-bottom: 20px;
}

.advantages__list {
    -webkit-column-gap: 35px;
    -moz-column-gap: 35px;
    column-gap: 35px;
    row-gap: 40px;
    margin-bottom: 65px;
}

.advantages__item {
    max-width: 340px;
    font-size: 1.7rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.advantages__img {
    margin-bottom: 22px;
    width: 90px;
    height: 90px;
}

.advantages__list-text {
    text-align: center;
}

.info {
    padding: 30px 0;
    background-color: #E5E5E5;
}

.info__img {
    height: auto;
    width: 400px;
    max-width: 100%;
    margin-bottom: 30px;
}

.info__title {
    margin-bottom: 20px;
}

.info__text {
    line-height: 1.3em;
    max-width: 490px;
}

.using {
    padding: 60px 0 45px;
}

.using__title {
    margin-bottom: 20px;
    max-width: 420px;
}

.using__text {
    max-width: 490px;
}

.using__img {
    width: 100%;
    max-width: 520px;
    height: auto;
}

.location {
    padding: 40px 0 50px;
}

.location__title {
    text-align: center;
    margin-bottom: 20px;
}

.location__text {
    text-align: center;
    line-height: 1.3em;
    margin-bottom: 40px;
}

.location__img {
    max-width: 520px;
    height: auto;
}

.quest-answ {
    padding: 50px 0 40px;
}

.quest-answ__title {
    font-family: "Arial", sans-serif;
    padding-bottom: 15px;
    border-bottom: 1px solid #C9C9C9;
    margin-bottom: 30px;
    line-height: 1.3em;
    transition: color 0.2s ease;
    position: relative;
}

.quest-answ__title--main {
    text-align: center;
    margin-bottom: 60px;
}

.quest-answ__title::after {
    content: url("../images/svg/arrow.svg");
    position: absolute;
    right: 0;
    bottom: 35%;
    cursor: pointer;
    transition: 0.1s;
}

.quest-answ__list {
    gap: 60px;
}

.quest-answ__item {
    max-width: 500px;
    width: 100%;
    min-width: 350px;
}

.quest-answ__item[open] .quest-answ__title {
    color: red;
}

.quest-answ__item[open] .quest-answ__title::after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.quest-answ__text {
    font-size: 1.8rem;
    margin-bottom: 60px;
}

.wrapper {
    -webkit-column-gap: 80px;
    -moz-column-gap: 80px;
    column-gap: 80px;
}

@media (max-width: 1199.98px) {
    .wrapper {
        -webkit-column-gap: 50px;
        -moz-column-gap: 50px;
        column-gap: 50px;
    }
}

@media (max-width: 991.98px) {
    .preview__inner {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }

    .preview__item {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }

    .preview__title {
        text-align: center;
        font-size: 4rem;
    }

    .preview__text {
        text-align: center;
        margin: 0 auto 20px;
    }

    .preview__img {
        -webkit-transform: translate(0);
        transform: translate(0);
        margin: 0 auto;
        width: 100%;
    }

    .wrapper {
        -ms-flex-pack: center;
        justify-content: center;
    }

    .quest-answ__list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }

    .info__item,
.using__item {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }

    .using__title,
.using__text {
        text-align: center;
    }

    .using__text {
        margin-bottom: 30px;
        max-width: 600px;
    }

    .preview__btn {
        margin-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .advantages__text,
.info__text {
        font-size: 1.7rem;
    }

    .quest-answ__list {
        gap: 30px;
    }

    .wrapper {
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
        row-gap: 30px;
    }
}

@media (max-width: 575.98px) {
    .preview {
        padding-top: 50px;
    }

    .quest-answ__title--main {
        margin-bottom: 30px;
    }

    .quest-answ__list,
.wrapper {
        gap: 15px;
    }

    .quest-answ__text {
        margin-bottom: 0;
    }
}

@media (max-width: 380.98px) {
    .preview__title {
        font-size: 3rem;
    }

    .quest-answ__item {
        min-width: 250px;
    }

    .btn {
        padding: 11.5px 0;
    }
}